<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you or placing your order</h1>
    <p>
      Your order is now ready and available for pickup<br>
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>